<phpunit
    bootstrap="tests/bootstrap.php"
    displayDetailsOnTestsThatTriggerWarnings="true"
    colors="true"
>
    <php>
        <const name="DEBUG" value="false"/>
        <const name="DEFAULT_XML_FILE" value="demo"/>
        <const name="SERVICE_DIR" value="services/demo/"/>
        <const name="XML_PAGES_URL" value=""/>
    </php>
    <testsuites>
        <testsuite name="Regular tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
